<body onbeforeunload="unload()">
    <div>

        <form action="/" method="GET">
            <button class="signup">Login</button>
        </form>
    </div>
    <br>
    <div class="container">
        <img src="logo.png" alt="Message Board" style="max-width: 80%"><br><br>
        <form action="/authPass" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br>
            <input type="password" name="ConfirmPassword" placeholder="Confirm password" required>
            <br>
            <br>

            {{var}} <br><br>
            <button type="submit">Reset</button>
        </form>
        <br><br><img src="team.png" alt="Message Board" style="max-width: 40%">
    </div>
    <script>
        document.getElementById('loading').style.display = 'none'
        function unload() { document.getElementById('loading').style.display = 'block' }
    </script>
</body>