
<body onhashchange="listPosts()" onbeforeunload="unload()">
    <header class="category-container">

        <form action="/topics" method="GET">
        <button class="back" onclick="back()">

                <</button>
                 </form>

                <ul>
                    <li><a class="sort" href="#latestposts">Latest</a></li><!--
                 --><li><a class="sort" href="#topusers">Top Users</a></li><!--
                 --><li><a class="sort" href="#topposts">Top Posts</a></li>
                    </ul>
                    <div class="toolbar">
                        <h2 class="topic-heading"></h2>
                        <button class="post-button">post!</button>
                    </div>
    </header>
    <main class="posts-container">
        <ul>
            <!-- <li><a href="/post">Username - Post</a></li> -->
        </ul>
    </main>
    <script>
        function listPosts() {
            switch (window.location.hash) {
                case '#latestposts':
                    fetch('/latestposts' + window.location.search)
                        .then(res => res.json())
                        .then(result => renderUI(result))
                        .catch(err => document.getElementById('loading').style.display = 'none')
                    break;

                case '#topposts':
                    fetch('/topposts' + window.location.search)
                        .then(res => res.json())
                        .then(result => renderUIposts(result))
                        .catch(err => console.log(err))
                    break;

                case '#topusers':
                    fetch('/topusers' + window.location.search)
                        .then(res => res.json())
                        .then(result => renderUIusers(result))
                        .catch(err => console.log(err))
                    break;

                default:
                    fetch('/latestposts' + window.location.search)
                        .then(res => res.json())
                        .then(result => renderUI(result))
                        .catch(err => console.log(err))
                    break;
            }


            function renderUI(result) {
                document.querySelector('.topic-heading').innerHTML = '#'+result.name
                document.querySelector('.posts-container ul').innerHTML = ''
                for (post of result.posts) {
                    let li = document.createElement('li')
                    let a = document.createElement('a')
                    let b = document.createElement('b')
                    let img = document.createElement("img")
                    a.textContent = post.content + " "
                    a.setAttribute('onclick', 'postClick("' + post._id + '")')
                    b.textContent = post.username + " "
                    img.src = "/images/message.png"
                    img.height = "15"
                    a.prepend(b)
                    a.appendChild(img)
                    li.appendChild(a)
                    document.querySelector('.posts-container ul').prepend(li)
                }
                document.getElementById('loading').style.display = 'none'
            }
            function renderUIposts(result) {
                document.querySelector('.topic-heading').innerHTML = '#'+result.name
                document.querySelector('.posts-container ul').innerHTML = ''
                for (post of result.posts) {
                    let li = document.createElement('li')
                    let a = document.createElement('a')
                    let b = document.createElement('b')
                    let img = document.createElement("img")
                    a.textContent = post.content + " "
                    a.setAttribute('onclick', 'postClick("' + post._id + '")')
                    b.textContent = post.username + ' ★ ' + post.likes + " "
                    img.src = "/images/message.png"
                    img.height = "15"
                    a.prepend(b)
                    a.appendChild(img)
                    li.appendChild(a)
                    document.querySelector('.posts-container ul').prepend(li)
                }
                document.getElementById('loading').style.display = 'none'
            }
            function renderUIusers(result) {
                document.querySelector('.topic-heading').innerHTML = '#'+result[0].name
                document.querySelector('.posts-container ul').innerHTML = ''
                for (post of result) {
                    let li = document.createElement('li')
                    let b = document.createElement('b')
                    b.textContent = post._id + " ★ " + post.userLikes
                    li.appendChild(b)
                    document.querySelector('.posts-container ul').appendChild(li)
                }
                document.getElementById('loading').style.display = 'none'
            }
        }

        listPosts()

        function postClick(id) {
            let url = 'post' + window.location.search + '&postid=' + id + window.location.hash
            window.location.replace(url)
        }

        document.querySelector('.post-button').addEventListener('click', function () {
            window.location.replace('post' + window.location.search)

        })
        function back() {
            // let urlParams = new URLSearchParams(window.location.search)
            // console.log(urlParams.has('post'))
            // let id = urlParams.get('topicid')
            window.location.replace('/topics')
        }
        function unload(){ document.getElementById('loading').style.display = 'block'}
    </script>
</body>