<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Topics</title>
</head>
<body>
    <header class="category-container">
      <form action="/topics"><button class="back">></button></form>
        <ul>
            <li><a href="#">Latest</a></li><!--
         --><li>Top Users</li><!--
         --><li>Top Posts</li>
        </ul>
        <div class="toolbar">
        <h2 class="topic-heading">#Jquery</h2>
        <button class="post-button">post!</button>
        </div>
    </header>
    <main class="posts-container">
        <ul>
            <li><a href="/post">Username - Post</a></li>
            <li><a href="/post">Username - Post</a></li>
            <li><a href="/post">Username - Post</a></li>
        </ul>
    </main>
</body>
</html>
