<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles/styles.css">
    <title>Topics</title>
</head>
<body>
    <header>
      <h2>></h2>
        <ul>
            <li><a href="">Latest</a></li><!--
         --><li>Top Users</li><!--
         --><li>Top Posts</li>
        </ul>
        <div class="toolbar">
        <h2 class="topic-heading">#Jquery</h2>
        <button class="post-button">post!</button>
        </div>
    </header>
    <main>
        <ul class="posts">
            <li><a href="post.html">Username - Post</a></li>
            <li><a href="post.html">Username - Post</a></li>
            <li><a href="post.html">Username - Post</a></li>
        </ul>
    </main>
</body>
</html>
