<body onbeforeunload="unload()">

    <div>
        <form action="/signup" method="GET">
            <button class="signup">Signup</button>
        </form>
    </div>
    <br>
    <div class="container">
        <img src="logo.png" alt="Message Board" style="max-width: 80%;max-height: 100px"><br><i>Explore !</i><br><br>
        <form action="/auth" method="POST">
            <input type="text" name="username" placeholder="Username" required><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            {{var}} <br><br>
            <button type="submit">Login</button>
        </form>
        <br>
        <a class="forgot" href="/forgot">Forgot password?</a>
        <br><br><br><img src="team.png" alt="Message Board" style="max-width: 40vh;max-height: 50px">
    </div>
    <script>
        document.getElementById('loading').style.display = 'none'
        function unload() { document.getElementById('loading').style.display = 'block' }
    </script>
</body>