<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Post</title>
</head>

<body>
    <header class="post-container">
        <form action="/leaderboard"><button class="back">></button></form>
        <textarea class="post-box" placeholder="post!"></textarea>
        <div class="toolbar">
            <h2 class="topic-heading">★ 1</h2>
            <button class="post-button">Edit</button>
        </div>
    </header>
    <main class="comments-container">
        <textarea class="insert-comment-box" placeholder="Enter comment."></textarea><button class="send-button">Send</button>
        <ul class="comments-list">
            <li>
                <textarea class="comment-box" placeholder="your comments." readonly=true></textarea>
                <textarea class="comment-box" placeholder="your comments." readonly=true></textarea>
                <textarea class="comment-box" placeholder="your comments." readonly=true></textarea>
            </li>
        </ul>
    </main>
</body>

</html>