<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Post</title>
</head>
<body>
    <header>
      <h2>></h2>
        <textarea placeholder="post!"></textarea>
        <div class="toolbar">
        <h2 class="topic-heading">rating</h2>
        <button class="post-button">Edit</button>
        </div>
    </header>
    <main>
        <ul class="posts">
            <li><a href="post.html">Username - Comment.</a></li>
            <li><a href="post.html">Username - Comment.</a></li>
            <li><a href="post.html">Username - Comment.</a></li>
        </ul>
    </main>
</body>
</html>
