  <body class="topics">
        <header class="bar"><h1 class="toolbar-heading">Topics</h1>
            <form action="/logout">
                <button class="logout-button">Logout</button>
            </form>
        </header>
        <main class="topics-container">
            <input type="text" placeholder="Type in a topic." class="insert-topic"><br>
            <button class="active-button" onclick="addTopic()">+</button>
            <button class="remove-button" onclick="deleteTopic()">-</button>
            <button class="active-button">Modify</button>
            <ul>
                <!-- <li><a href="/leaderboard?topicid=5d1311e66b4186f06c58c178#latestposts">Jquery</a></li>
                <li>React</li>
                <li>Angular</li>
                <li>MongoDB</li>
                <li>Redux</li>
                <li>Heroku</li>
                <li>Handlebars</li>
                <li>CSS</li> -->
            </ul>
    </main>
    <script>
        fetch('/listtopics').then(res=>res.json()).then(result=>renderTopics(result)).catch(err=>console.log(err))
        function renderTopics(result) {
            for (const topic of result) {
                console.log(result)
                let li = document.createElement('li')
                let a = document.createElement('a')
                a.href = 'leaderboard?topicid=' + topic._id + '#latestposts'
                a.textContent = topic.name
                li.appendChild(a)
                document.querySelector('.topics-container ul').appendChild(li)
            }
        }
        function addTopic() {
            let name = document.querySelector('.insert-topic').value
            if(name!=''){
                fetch('/addtopic?name=' + name)
                .then(res=>res.json())
                .then(result=>renderTopics(result))
                .catch(err=>console.log(err))
            } else {
                tinyToast.show("Type in a Topic name.").hide(2000)
            }
        }
        function deleteTopic(){
            let name = document.querySelector('.insert-topic').value
            document.querySelectorAll('.topics-container ul li a').forEach(function(element,index){
                if(element.textContent==name){
                    let url = new URL(element.href)
                    let urlParams = new URLSearchParams(url.search)
                    let id = urlParams.get('topicid')
                    //console.log(id)
                  
                    fetch('/deletetopic?topicid=' + id )
                    .then(res =>res.text())
                    .then(function(res){
                        if(res==1){
                            element.parentElement.remove() 
                            tinyToast.show("topic deleted").hide(2000)
                           
                        }
                    })
                }
            })

        }
    </script>
</body>