  <body class="topics">
        <header class="bar"><h1 class="toolbar-heading">Topics</h1>
            <form action="/logout">
                <button class="logout-button">Logout</button>
            </form>
        </header>
        <main class="topics-container">
            <input type="text" placeholder="Type in a topic." class="insert-topic"><br>
            <button class="add-button" onclick="addTopic()">+</button>
            <button class="remove-button">-</button>
            <button class="modify-button">Modify</button>
            <ul>
                <!-- <li><a href="/leaderboard?topicid=5d1311e66b4186f06c58c178#latestposts">Jquery</a></li>
                <li>React</li>
                <li>Angular</li>
                <li>MongoDB</li>
                <li>Redux</li>
                <li>Heroku</li>
                <li>Handlebars</li>
                <li>CSS</li> -->
            </ul>
    </main>
    <script>
        fetch('/listtopics').then(res=>res.json()).then(result=>renderTopics(result)).catch(err=>console.log(err))
        function renderTopics(result) {
            for (const topic of result) {
                console.log(result)
                let li = document.createElement('li')
                let a = document.createElement('a')
                a.href = 'leaderboard?topicid=' + topic._id + '#latestposts'
                a.textContent = topic.name
                li.appendChild(a)
                document.querySelector('.topics-container ul').appendChild(li)
            }
        }
        function addTopic() {
            let name = document.querySelector('.insert-topic').value
            if(name!=''){
                fetch('/addtopic?name=' + name)
                .then(res=>res.json())
                .then(result=>renderTopics(result))
                .catch(err=>console.log(err))
            } else {
                tinyToast.show("Type in a Topic name.").hide(2000)
            }
        }


        document.querySelector('.modify-button').addEventListener('click', function(evt){
            let name = document.querySelector('.insert-topic')
            let found = false
            document.querySelectorAll('.topics-container li').forEach(function(elem, index){
                if(elem.textContent==name.value){
                    found = true
                    elem.style.border = "4px solid red"
                    name.value = ''
                    name.placeholder = "Enter new topic name"
                    document.querySelector('.modify-button').textContent = "Confirm!"
                    document.querySelector('.modify-button').addEventListener('click', confirmUpdate.bind(this))
                }
            })
            if(!found){
                tinyToast.show("not found!").hide(2000)
            }
        })

        function confirmUpdate(elem){
            console.log(elem.href)
            {{!-- let urlParams = new URLSearchParams(window.location.search)
            let id = urlParams.get('topicid')
            db.collection('/updatetopic') --}}
            {{!-- document.querySelector('.modify-button').addEventListener('click', confirmAction) --}}
        }
    </script>
</body>