  <body class="topics" onbeforeunload="unload()">
        <header class="bar">        
            <img src="logo.png" alt="Message Board" style="max-height: 50px;max-width: 40%;margin: 30px 150px 0px 150px"><br><img src="team.png" alt="Message Board" style="max-height: 30px;max-width: 40%;margin: 0px 150px 0px 150px">

            <form action="/logout">
                <button class="logout-button">Logout</button>
            </form>
        </header>
        <main class="topics-container">
            {{#if flag}}
               <input type="text" placeholder="Type in a discussion topic." class="insert-topic"><br>
            <button class="add-button" onclick="addTopic()">+</button>
            <button class="remove-button" onclick="deleteTopic()">-</button>
            <button class="modify-button">Modify</button>
            <ul>
            </ul>
            {{else}}
            <ul>
            </ul>
            {{/if}}

    </main>
    <script>
        fetch('/listtopics').then(res=>res.json()).then(result=>renderTopics(result)).catch(err=>console.log(err))
        function renderTopics(result) {
            for (const topic of result) {
                console.log(result)
                let li = document.createElement('li')
                let a = document.createElement('a')
                a.href = 'leaderboard?topicid=' + topic._id + '#latestposts'
                a.textContent = topic.name
                li.appendChild(a)
                document.querySelector('.topics-container ul').appendChild(li)
            }
            document.getElementById('loading').style.display = 'none'
        }
        function addTopic() {
            let name = document.querySelector('.insert-topic').value
            if(name!=''){
                fetch('/addtopic?name=' + name)
                .then(res=>res.json())
                .then(result=>renderTopics(result))
                .catch(err=>console.log(err))
            } else {
                tinyToast.show("Type in a Topic name.").hide(2000)
            }
        }
        function deleteTopic(){
            let name = document.querySelector('.insert-topic').value
            document.querySelectorAll('.topics-container ul li a').forEach(function(element,index){
                if(element.textContent==name){
                    let url = new URL(element.href)
                    let urlParams = new URLSearchParams(url.search)
                    let id = urlParams.get('topicid')
                    fetch('/deletetopic?topicid=' + id )
                    .then(res =>res.text())
                    .then(function(res){
                        if(res==1){
                            element.parentElement.remove()
                            tinyToast.show("topic deleted").hide(2000)

                        }
                    })
                }
            })
        }
        document.querySelector('.modify-button').addEventListener('click', modifyTopic)

        function modifyTopic(){
            let name = document.querySelector('.insert-topic').value
            document.querySelectorAll('.topics-container ul li a').forEach(function(element,index){
                if(element.textContent==name){
                    let url = new URL(element.href)
                    let urlParams = new URLSearchParams(url.search)
                    let id = urlParams.get('topicid')
                    element.parentElement.style.border = "4px solid coral"
                    document.querySelector('.insert-topic').value = ''
                    document.querySelector('.insert-topic').placeholder = 'Enter New Name!'
                    document.querySelector('.modify-button').textContent = 'Confirm!'
                    document.querySelector('.modify-button').removeEventListener('click', modifyTopic)
                    document.querySelector('.modify-button').addEventListener('click', confirmModify.bind(null,element, id))

                }
            })
        }

        function confirmModify(element,id){
            let name = document.querySelector('.insert-topic').value
            fetch('/modifytopic?topicid=' + id + '&newname=' + name)
            .then(res =>res.text())
            .then(function(res){
                if(res==1){
                    element.textContent = name
                    element.parentElement.style.border = 'none'
                    tinyToast.show("topic renamed!").hide(2000)
                    document.querySelector('.insert-topic').value = ''
                    document.querySelector('.insert-topic').placeholder = 'Type in a dscussion topic.'
                    document.querySelector('.modify-button').textContent = 'Modify'
                }
            })
            document.querySelector('.modify-button').removeEventListener('click', confirmModify)
            document.querySelector('.modify-button').addEventListener('click', modifyTopic)
        }
        function unload() { document.getElementById('loading').style.display = 'block'}
    </script>
</body>